.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--gray-dark);
	padding: var(--outer-margin);
	padding-bottom: calc(0.5 * var(--outer-margin));
	width: 100vw;
	//height: 50vh;
	margin-right: var(--full-bleed-margin);
	margin-left: var(--full-bleed-margin);

	.wrap {
		@include mq($from: desktop) {
			width: 70%;
		}
		flex: 1 1 auto;
		h3 {
		}
		.text {
			color: var(--white);
		}
		button {
			all: unset;
			width: 100%;
			margin-top: var(--space);
			margin-bottom: var(--space-big);
			border-top: 1px solid var(--green);
			border-bottom: 1px solid var(--green);
			padding-top: var(--space-small);
			padding-bottom: var(--space-small);
			text-align: center;
			color: var(--white);
			text-transform: uppercase;
			cursor: pointer;
			letter-spacing: 0.1em;
			&:hover {
				background-color: var(--gray);
				color: var(--red);
				border-top: 1px solid var(--gray);
				border-bottom: 1px solid var(--gray);
			}
			transition: all 0.3s;
		}
	}
	.copyright {
		display: flex;
		flex-direction: row;
		width: 100%;
		color: var(--white);
		margin-top: var(--space);
		* {
			color: var(--white);
		}
		span {
			flex: 1 1;
			&:last-child {
				text-align: right;
			}
		}
	}
}
