.section {
	display: flex;
	flex-direction: row;
	margin-bottom: var(--space);

	> div {
		flex: 0 0 50%;
		width: 50%;
	}
	.header {
		display: flex;
		flex-direction: column;

		.headline {
			flex: 1 1 auto;
		}
		.project {
			flex: 0 0;
			border-radius: 10px;
			background-color: var(--gray);
			display: flex;
			flex-direction: row;
			padding: 1rem;

			div:first-child {
			}
			div:last-child {
				padding-left: 1rem;
				white-space: nowrap;
			}

			.image,
			img {
				width: 100px !important;
				height: 100px !important;
				object-fit: cover;
			}
		}
	}
}
