.section {
	display: flex;
	flex-direction: row;
	margin-bottom: var(--space-big);

	> div {
		flex: 0 0 50%;
		width: 50%;

		&:first-of-type {
			padding-right: var(--outer-margin);
		}
	}
	.header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.headline {
			flex: 1 1 auto;
		}
		.project {
			flex: 0 0;
			border-radius: 10px;
			background-color: var(--gray);
			display: flex;
			flex-direction: row;
			padding: 1rem;
			width: 50%;
			margin-bottom: var(--space);

			&:hover {
				box-shadow: var(--shadow);
			}

			h4 {
				padding: 0;
			}

			div:first-child {
			}
			div:last-child {
				padding-left: 1rem;
				//white-space: nowrap;
			}

			.image,
			img {
				height: 100px !important;
				object-fit: cover;
			}
		}
	}
}
