.header {
	position: relative;
	width: 100vw;
	height: calc(100vh - var(--navbar-height));
	margin-left: var(--full-bleed-margin);
	margin-right: var(--full-bleed-margin);

	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
		opacity: 0.2;
	}
	.text {
		position: absolute;
		top: var(--space);
		padding: var(--outer-margin);
		left: 0;
		width: 50%;
		z-index: 100;

		.headline {
			color: var(--green);
			strong {
				color: var(--blue);
			}
		}
	}
}
