.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-top: var(--line);
	padding-top: var(--space);
	padding-bottom: var(--space);
	padding-left: var(--outer-margin);
	margin-left: var(--full-bleed-margin);
	margin-right: var(--full-bleed-margin);
	h3 {
		flex: 1 1 auto;
	}
	.arrows {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		button {
			all: unset;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			border: 1px solid var(--black);
			border-radius: 50%;
			cursor: pointer;

			img {
				height: 1rem;
			}
			&.forward {
				margin-left: 0.5em;
			}
			&.back {
				img {
					transform: rotate(180deg);
				}
			}
		}
	}
	background-color: var(--white);
}
.projects {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: var(--outer-margin);
	padding-top: var(--space);
	padding-bottom: var(--space);
	background-color: var(--gray);
	margin-left: var(--full-bleed-margin);
	margin-right: var(--full-bleed-margin);

	.swiper {
		width: 100%;
		max-width: 100%;

		.slideWrap {
			align-items: center;

			.slide {
				width: 33.333%;
				height: 30vh;
				background-color: var(--white);
				cursor: pointer;
				border-radius: var(--border-radius);
				padding: var(--space);
				margin-right: var(--gutter);

				&:hover {
					h4 {
						color: var(--red);
					}
					box-shadow: var(--shadow);
				}

				.bar {
					display: flex;
					flex-direction: row;
					width: 100%;

					.logo {
						flex: 1 1 auto;
						img {
							height: 1rem;
						}
						padding-bottom: 0.5rem;
					}
					.arrow {
						flex: 0 0 auto;
						button {
							all: unset;
						}
					}
				}
			}
		}
	}
}
