.header {
	display: flex;
	flex-direction: row;
	margin-bottom: var(--space-big);

	> div {
		flex: 0 0 calc(50% - var(--outer-margin));
		margin-right: var(--outer-margin);
	}
	.image {
		//padding: 4rem;
		padding-top: 1rem;
		img {
			aspect-ratio: 6/5;
			object-fit: cover;
		}
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.logo {
			margin-top: var(--space);
			margin-bottom: var(--space-small);
			height: 1rem;
		}
	}
}

.section {
	display: flex;
	flex-direction: row;
	margin-bottom: var(--space);

	> div {
		@include mq($from: desktop) {
			flex: 0 0 50%;
			width: 50%;
		}
	}
	.header {
		display: flex;
		flex-direction: column;

		.headline {
			flex: 1 1 auto;
		}
		.project {
			flex: 0 0;
			width: 50%;
			border-radius: 10px;
			background-color: var(--gray);
			display: flex;
			flex-direction: row;

			.image {
				width: 100px;
				height: 100px;
				object-fit: cover;
			}
		}
	}
}
