.shortcuts {
	ul {
		position: relative;
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0;
		justify-content: space-between;
		margin-bottom: var(--space-big);
	}
}

.text {
	border-top: var(--line);
	padding-top: var(--space-big);
	display: flex;
	flex-direction: row;
	margin-bottom: var(--space-big);

	> div:first-child {
		width: 30%;
	}
	> div:last-child {
		width: 60%;
		margin-left: 10%;
	}
}

.jobs {
	margin-top: var(--space-big);
	margin-bottom: var(--space-big);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	h2 {
		padding-top: 0.5em;
	}
	> div {
		flex: 0 0 calc(50% - var(--gutter));
	}
}
