.shortcuts {
	ul {
		position: relative;
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0;
	}
}

.text {
	display: flex;
	flex-direction: row;

	> div {
		width: 50%;
	}
}
