.news {
	display: flex;
	flex-direction: row;
	margin-right: var(--full-margin);
	margin-left: var(--full-margin);
}

.header {
	flex: 0 0 50%;
	width: 50%;
	ul {
		list-style: none;
	}
}

.newsItems {
	list-style: none;
	flex: 0 0 50%;
	width: 50%;

	li:nth-child(2n) {
		h4 {
			color: var(--green);
		}
	}

	h4 {
		margin-top: 0.5rem;
		padding-bottom: 0;
	}
	.date {
		display: inline;
	}
	.content {
		display: inline;
	}
}

.empty {
	flex: 0 0 50%;
	width: 50%;
}
